<div class="wrapper">
  <div class="cards-container">
    @for (unit of units$ | async; track unit.id) {
    <div class="unit-card">
      <h4>{{ unit.name }}</h4>

      @if (unit.raid_in_progress && !unit.raid_returned) {
      <button type="button" [disabled]="true">
        Send to raid
      </button>
      }

      @if (unit.raid_returned && !unit.raid_in_progress) {
      <button type="button">
        Complete
      </button>
      }

      @if (!unit.raid_returned && !unit.raid_in_progress) {
      <button type="button" (click)="onSendToRaid(unit.id)">
        Send to raid
      </button>
      }

      @if (unit.countdown$ | async; as progress) {
      <div class="unit-card__raid-progress">
        <div class="unit-card__raid-progress-indicator" [style.width.%]="progress"></div>
      </div>
      }
    </div>
    }
  </div>
</div>