<div class="wrapper">
  <div class="cards-container">
    @for (unit of units$ | async; track unit.id) {
    <div class="unit-card">
      <h4>{{ unit.name }}</h4>

      @if (!unit.active_raid) {
      <button type="button" (click)="onSendToRaid(unit.id)">
        Send to raid
      </button>
      }
      @else {
      @if (unit.active_raid.status === 'in_progress') {
      <button type="button" [disabled]="true">
        Send to raid
      </button>
      } @else if (unit.active_raid.status === 'returned') {
      <button type="button" (click)="onComplete(unit)">
        Complete
      </button>
      }
      }

      @if (unit.countdown$ | async; as progress) {
      <div class="unit-card__raid-progress">
        <div class="unit-card__raid-progress-indicator" [style.width.%]="progress"></div>
      </div>
      }
    </div>
    }
  </div>
</div>