<div class="wrapper container">
  <h4>Your units</h4>
  <div class="cards-container container">
    @for (unit of units$ | async; track unit.id) {
    <div class="unit-card">
      <h4>#{{ unit.id }} {{ unit.model?.name }}</h4>
      <div>
        <div>
          Level {{ unit.level }}.
        </div>
        <div>
          Exp: {{ unit.exp | number : '1.2-2' }}/{{ unit.maxExp | number : '1.2-2' }}
        </div>
      </div>
      <br>

      <div>
        <button mat-raised-button>test 1</button>
        <button mat-raised-button color="primary">test 2</button>
        <button mat-raised-button color="accent">test 3</button>
      </div>

      @if (!unit.active_raid) {

      @if (unit.exp < unit.maxExp) { <!-- -->
        <button type="button" (click)="onSendToRaid(unit.id)">
          Send to raid
        </button>
        }
        }
        @else {
        @if (unit.active_raid.status === 'in_progress') {
        <button type="button" [disabled]="true">
          Send to raid
        </button>
        } @else if (unit.active_raid.status === 'returned') {
        <button type="button" (click)="onComplete(unit)">
          Complete
        </button>
        }
        }

        @if(unit.exp > unit.maxExp) {
        <button (click)="onUpgrade(unit.id)">Upgrade</button>
        } @else {
        <button disabled>Upgrade</button>
        }

        @if (unit.countdown$ | async; as progress) {
        <div class="unit-card__raid-progress">
          <div class="unit-card__raid-progress-indicator" [style.width.%]="progress"></div>
        </div>
        }
        @if (unit.raidDurationCounter$ | async; as countdown) {
        <div>{{ countdown }}</div>
        }
    </div>
    }
    @empty {
    <div>No units yet...</div>
    }
  </div>
</div>