$md-primary: (
  50: #f1e9e4,
  100: #dcc8bb,
  200: #c5a48e,
  300: #ae7f60,
  400: #9c633e,
  500: #8b481c,
  600: #834119,
  700: #783814,
  800: #6e3011,
  900: #5b2109,
  A100: #ffa98f,
  A200: #ff825c,
  A400: #ff5b29,
  A700: #ff480f,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$md-secondary: (
  50: #e4eff6,
  100: #bcd7e9,
  200: #90bddb,
  300: #63a2cc,
  400: #418ec1,
  500: #207ab6,
  600: #1c72af,
  700: #1867a6,
  800: #135d9e,
  900: #0b4a8e,
  A100: #bedaff,
  A200: #8bbdff,
  A400: #58a0ff,
  A700: #3e91ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-warn: (
  50: #f9e1e1,
  100: #f0b5b5,
  200: #e78484,
  300: #dd5353,
  400: #d52e2e,
  500: #ce0909,
  600: #c90808,
  700: #c20606,
  800: #bc0505,
  900: #b00202,
  A100: #ffdada,
  A200: #ffa7a7,
  A400: #ff7474,
  A700: #ff5a5a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
