.container {
  max-width: var(--container-width-l);
  padding: 0 var(--space-l);
  margin: 0 auto;
}

.container-xl {
  max-width: var(--container-width-xl);
  padding: 0 var(--space-xl);
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0 var(--space-md);
  }

  .container-xl {
    padding: 0 var(--space-l);
  }
}
